{% extends 'a_base2.html' %}

{% block body %}

{% load staticfiles %}

<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="warning">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                     Welcome<br>
                    {{ request.user.username }}
                </a>
            </div>

            <ul class="nav">

                <li>
                    <a href="{% url 'infop:index'%}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'infop:to_teaching'%}">
                        <i class="ti-panel"></i>
                        <p>Teachings</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'publications:index'%}">
                        <i class="ti-text"></i>
                        <p>Publications</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'listall' %}">
                        <i class="ti-pencil-alt2"></i>
                        <p>All Pages</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'homepage:to_achievements' %}">
                        <i class="ti-cup"></i>
                        <p>Achievements</p>
                    </a>
                </li>
                <li>
                   <a href="{% url 'accounts:messaging' %}">
                        <i class="ti-comments"></i>

                        {% if not request.user.last_name == request.user.first_name%}
                            <div style="color:red; font-weight: bold">{{ request.user.last_name}} new </div>
                        {% endif %}
                       <p>MESSEGES</p>


                    </a>
                </li>
                <li class="active-pro">
                    <a href="http://intranet.iitg.ernet.in/">
                        <i class="ti-export"></i>
                        <p>Intranet</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Publications</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>

                            <form action="{% url 'publications:searched_publications' %}" method = "POST">
                                {% csrf_token %}
                                <input type="text" name="search"  placeholder="  Search Publications" size="40">
                                <button type="submit" class="btn btn-success">Search</button>
                            </form>
                        </li>

                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-settings"></i>
                                    <p>Settings</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'accounts:reset_password' %}">Change Password</a></li>

                              </ul>
                        </li>
                        <li>
                        <a href="{% url 'accounts:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                        </a>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>


<div class="col-md-9 animated slideInLeft"><h2>My Publications</h2>
</div>

    <div class="col-md-1 animated slideInRight"  style="padding-top: 25px">
        <a href="{% url 'publications:ld' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-circle-arrow-down"> Load</span>
            </button>
        </a>
    </div>


    <div class="col-md-1 animated slideInRight"  style="padding-top: 25px">
        <a href="{% url 'publications:create_publication' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus">Add Publication</span>
            </button>
        </a>
    </div>
{#<style>#}
{#  p {#}
{#    width: 100px;#}
{#    padding: 10px;#}
{#    background-color: #ccc;#}
{#}#}
{#    p.letters {#}
{#    word-wrap: break-word;#}
{#}#}
{#</style>#}

{% if  publications %}
    <div class="col-lg-12 col-md-10 h-scroll"  >
            {% for ach in publications %}
                <div class="card animated zoomIn">
                    <div class="content animated ">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>{{ forloop.counter }}.</label>
                                     <h5>{{ ach.publication }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <form action="{% url 'publications:edit_publication'  ach.id %}" method="POST" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="ach_id" value="{{ ach.id }}" />
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <form action="{% url 'publications:delete_publication'  ach.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="ach_id" value="{{ ach.id }}" />
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
    </div>
{% endif %}


    </div>
</div>
{% endblock %}